@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
/* @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"); */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

html,
body {
    height: 100%;
    font-family: 'Noto Sans Tc', sans-serif;
    font-size: 15px;
    background-color: #F2F6FC;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-menu {
    box-sizing: border-box;
    bottom: 0;
    height: 100%;
    background-color: #F4F7FE;
    border-right: 1px solid #E7E7E7;
    flex-direction: column;
    transform: translateX(0);
    transition: .3s;
    position: fixed;
    top: 60px;
    z-index: 10;
    padding: 20px 15px 20px;
}

.side-menu label {
    position: absolute;
    width: 15px;
    height: 80px;
    background-color: rgba(30, 110, 228, 0.1);
    border: 1px solid #E7E7E7;
    color: #1E6EE4;
    right: -15px;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 80px;
    text-align: center;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
}

.side-menu .title{
    color: #1E6EE4;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px  solid #E7E7E7;
    padding-bottom: 30px;
}

#side-menu-switch,
#right-text-switch {
    position: absolute;
    opacity: 0;
    z-index: -1;
}


#side-menu-switch:checked+.side-menu {
    transform: translateX(-100%);
}

#side-menu-switch:checked+.side-menu label .fa {
    transform: scaleX(-1)
}

#right-text-switch:checked+.right-text-container .right-text, #right-text-switch:checked+.right-text-container .right-text-alert{
    left: 20px;
    width: calc(98% - 20px);
}



.nav {
    display: inline;
    margin: 100px;
}

.nav a {
    display: block;
    padding: 10px 15px 10px 12px;
    color: #626262;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.nav a.active {
    background-color: #1E6EE4;
    color: #FFFFFF;
    border-radius: 10px;
}

.nav li+li a::before {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 0;
}

.nav a .fa {
    margin-right: -1em;
    transform: scale(0);
    transition: .3s;
}

.nav li:hover .fa {
    margin-right: 0.2em;
    transform: scale(1);
}

.nav li:hover>a {
    background-color: rgba(30, 110, 228, 0.2);
    color: #1E6EE4;
}

.nav li {
    position: relative;
}

.nav ul {
    position: absolute;
    display: none;
    left: 100%;
    width: 180px;
    top: 10px;
    background-color: rgb(12, 0, 0, .7);
    box-shadow: 5px 0px 10px hsla(240, 50%, 30%, .4);
    z-index: 2;
}

.nav li:hover ul {
    display: block;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #E7E7E7;
    z-index: 20;
}

.top-nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 30px;
}

.top-nav .top-nav-li {
    text-align: center;
    /* 文字置中對齊 */
}

.top-nav .logout {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
